@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #9cb7d1;
    overflow: hidden;
}
.background li {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #8ca4bc;
    color: transparent;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 7s ease-in forwards infinite;
}
undefined
.background li:nth-child(0) {
    animation-delay: 0s;
    left: 31vw;
    top: 94vh;
    border-color: #abc9e5;
}

.background li:nth-child(1) {
    animation-delay: 2s;
    left: 48vw;
    top: 91vh;
    border-color: #abc9e5;
}

.background li:nth-child(2) {
    animation-delay: 4s;
    left: 5vw;
    top: 1vh;
}

.background li:nth-child(3) {
    animation-delay: 6s;
    left: 26vw;
    top: 62vh;
    border-color: #abc9e5;
}

.background li:nth-child(4) {
    animation-delay: 8s;
    left: 75vw;
    top: 76vh;
}

.background li:nth-child(5) {
    animation-delay: 10s;
    left: 54vw;
    top: 98vh;
    border-color: #abc9e5;
}

.background li:nth-child(6) {
    animation-delay: 12s;
    left: 27vw;
    top: 33vh;
    border-color: #abc9e5;
}

.background li:nth-child(7) {
    animation-delay: 14s;
    left: 17vw;
    top: 70vh;
}

.background li:nth-child(8) {
    animation-delay: 16s;
    left: 33vw;
    top: 20vh;
}

.background li:nth-child(9) {
    animation-delay: 18s;
    left: 23vw;
    top: 11vh;
    border-color: #abc9e5;
}

.background li:nth-child(10) {
    animation-delay: 20s;
    left: 74vw;
    top: 27vh;
}

.background li:nth-child(11) {
    animation-delay: 22s;
    left: 41vw;
    top: 69vh;
    border-color: #abc9e5;
}

.background li:nth-child(12) {
    animation-delay: 24s;
    left: 59vw;
    top: 83vh;
}

.background li:nth-child(13) {
    animation-delay: 26s;
    left: 91vw;
    top: 30vh;
    border-color: #abc9e5;
}

.background li:nth-child(14) {
    animation-delay: 28s;
    left: 39vw;
    top: 19vh;
}

.background li:nth-child(15) {
    animation-delay: 30s;
    left: 36vw;
    top: 12vh;
}

.background li:nth-child(16) {
    animation-delay: 32s;
    left: 63vw;
    top: 87vh;
    border-color: #abc9e5;
}

.background li:nth-child(17) {
    animation-delay: 34s;
    left: 46vw;
    top: 80vh;
}

.background li:nth-child(18) {
    animation-delay: 36s;
    left: 12vw;
    top: 53vh;
    border-color: #abc9e5;
}

.background li:nth-child(19) {
    animation-delay: 38s;
    left: 89vw;
    top: 5vh;
}

.background li:nth-child(20) {
    animation-delay: 40s;
    left: 93vw;
    top: 22vh;
    border-color: #abc9e5;
}

.background li:nth-child(21) {
    animation-delay: 42s;
    left: 50vw;
    top: 48vh;
}

.background li:nth-child(22) {
    animation-delay: 44s;
    left: 83vw;
    top: 45vh;
    border-color: #abc9e5;
}

.background li:nth-child(23) {
    animation-delay: 46s;
    left: 61vw;
    top: 85vh;
    border-color: #abc9e5;
}

.background li:nth-child(24) {
    animation-delay: 48s;
    left: 81vw;
    top: 36vh;
}

.background li:nth-child(25) {
    animation-delay: 50s;
    left: 18vw;
    top: 79vh;
    border-color: #abc9e5;
}

.background li:nth-child(26) {
    animation-delay: 52s;
    left: 98vw;
    top: 66vh;
    border-color: #abc9e5;
}

.background li:nth-child(27) {
    animation-delay: 54s;
    left: 3vw;
    top: 41vh;
}

.background li:nth-child(28) {
    animation-delay: 56s;
    left: 71vw;
    top: 58vh;
}

.background li:nth-child(29) {
    animation-delay: 58s;
    left: 20vw;
    top: 52vh;
    border-color: #abc9e5;
}

.background li:nth-child(30) {
    animation-delay: 60s;
    left: 69vw;
    top: 61vh;
}

.background li:nth-child(31) {
    animation-delay: 62s;
    left: 12vw;
    top: 39vh;
}

.background li:nth-child(32) {
    animation-delay: 64s;
    left: 42vw;
    top: 56vh;
}

.background li:nth-child(33) {
    animation-delay: 66s;
    left: 95vw;
    top: 43vh;
    border-color: #abc9e5;
}

.background li:nth-child(34) {
    animation-delay: 68s;
    left: 9vw;
    top: 16vh;
    border-color: #abc9e5;
}

.background li:nth-child(35) {
    animation-delay: 70s;
    left: 57vw;
    top: 29vh;
    border-color: #abc9e5;
}

.background li:nth-child(36) {
    animation-delay: 72s;
    left: 65vw;
    top: 3vh;
    border-color: #abc9e5;
}

.background li:nth-child(37) {
    animation-delay: 74s;
    left: 79vw;
    top: 95vh;
    border-color: #abc9e5;
}

.background li:nth-child(38) {
    animation-delay: 76s;
    left: 0vw;
    top: 8vh;
}

.background li:nth-child(39) {
    animation-delay: 78s;
    left: 85vw;
    top: 72vh;
    border-color: #abc9e5;
}
